/* Main CSS Desenvolvido para Mobile */
/*--------------------------------------------------------------------------------------
Salão Cabalereiro - Template
0. GLOBAL
1. NAVBAR / LOGO
2. BANNER
3. CERVEJAS
4. SOBRE
5. EVENTOS
6. CONTATO
7. MAPA
8. FORMULARIO
 ----------------------------------------------------------------------------------------*/
/*--------------------
    0. GLOBAL
 ----------------------*/
#mainBackground {
  background-color: #3B1712;
  margin-left     : 100px;
  margin-right    : 100px;
}
/*--------------------
    1. NAVBAR / LOGO
 ----------------------*/
.navbar-nav a {
  margin-left: 32px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}
/*--------------------
    2. BANNER
 ----------------------*/
.bannerCerveja {
  background-image: url("../img/BannerCerveja.jpg");
}
/*--------------------
    3. CERVEJAS
 ----------------------*/
.cervejasMobile {
  background-image   : url("../img/Cervejas.jpg");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}
/*--------------------
    4. SOBRE
 ----------------------*/
#sobre p {
  color       : white;
  text-align  : left;
  margin-left : 300px;
  margin-right: 300px;
}
/*--------------------
    5. EVENTOS
 ----------------------*/
.display {
  display: none;
}

#noCarousel {
  display        : flex;
  justify-content: space-between;
  padding        : 0 200px;
  align-items    : center;
  padding-bottom : 100px;
}

.eventosContainer {
  background-image   : url("../img/Eventos.png");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  border             : 7px solid black;
  border-radius      : 50%;
  display            : flex;
  justify-content    : center;
  align-items        : center;
  /* margin             : 0 10px; */
  width              : 200px;
  height             : 200px;
}

.textoEventos {
  font-family: "BookmenB";
  font-size  : 10pt;
  margin     : 0;
  display    : none;
  color      : white;
}

.eventosContainer:hover > .textoEventos {
  display    : block;
  font-family: "BookmenB";
  font-size  : 10pt;
  margin     : 0;
}

.eventosContainer:hover {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
/*--------------------
    6. CONTATO / MAPA
 ----------------------*/
#contatoMapa {
  display        : flex;
  justify-content: space-around;
  margin-bottom  : 200px;
}

#dado h2,
#dado h3,
#dado p {
  text-align: right;
}

#dado {
  margin-right: 50px;
}

#contato form {
  background-color: black;
  min-width       : 550px;
  max-width       : 700px;
  padding         : 70px 120px 55px;
  margin          : auto;
  min-height      : auto;
  box-shadow      : -10px 10px 10px 0 rgba(0, 0, 0, 0.5), -13px 13px 17px 0 rgba(0, 0, 0, 0.2);
}

.form-control {
  font-size    : 10pt;
  line-height  : 1.5;
  border       : 5px solid white;
  color        : white;
  border-radius: 0;
}

.btn-primary {
  font-size    : 14pt;
  padding      : 5px 40px;
  margin       : 0;
  border-width : 1px;
  border-radius: 0;
}
/*--------------------
    7. MAPA
 ----------------------*/
#mapa {
  width      : 60%;
  height     : 400px;
  margin-left: 100px;
  order      : -2;
}
/*--------------------
    8. FORMULARIO
 ----------------------*/
/*--------------------
    8. RODAPÉ
 ----------------------*/
/*--------------------
     3. Pagina CERVEJAS
  ----------------------*/
.display img {
  display: none;
}

.foto img {
  margin: 0;
  width : auto;
}

.container {
  display: flex;
}

#tituloCerveja {
  text-align : center;
  margin     : 0;
  color      : white;
  position   : relative;
  top        : -40px;
  font-family: "Nexa";
  font-size  : 0.45pt;
}

#bannerCerveja p {
  color        : white;
  font-size    : 20px;
  margin-bottom: 300px;
}
